:root {
  --color-text      : #333333;
  --color-background: #eeeeee;
  --color-brand     : #ffe600;
}

body {
  margin          : 0;
  color           : var(--color-text);
  background-color: var(--color-background);
  font-family     : -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height            : 16px;
}