.CategoryPath {
  list-style: none;
  margin    : 16px auto;
  padding   : 0;
  display   : flex;
  color     : var(--color-text-secondary);
  width     : 980px;
  font-size : 14px;
}

.CategoryPath li::after {
  content    : ">";
  margin-left: 8px;
}

.CategoryPath li {
  margin-right: 8px;
}

.CategoryPath li:last-child {
  font-weight: bold;
}

.CategoryPath li:last-child::after {
  display: none;
}