.ListItems {
  background   : var(--color-content-background);
  border-radius: 4px;
  box-sizing   : border-box;
  margin       : 0 auto;
  padding      : 16px 16px 0 16px;
  width        : var(--content-width);
}