.HeaderBar {
  background-color: var(--color-brand);
  width           : 100%;
  padding         : 9px;
}

.HeaderContent {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  margin         : 0 auto;
  width          : 980px;
}

.HeaderBar h1 {
  background-image: url('./logo.png');
  background-size : cover;
  height          : 36px;
  width           : 53px;
  margin          : 0;
}

.HeaderBar h1 .homeLink {
  text-decoration: none;
  display        : block;
  height         : 100%;
}

.HeaderBar h1 .homeLink span {
  display: none;
}